*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/* for the style of whole page of the website */
.page{
    background: #192841;
    min-height: 100vh;
    width: 100%;
    color: white;
    position: relative;
}

/* the style for navigation bar for the page */
nav{
    display: flex;
    align-items: center;
    padding: 10px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4d88e2;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    font-size: 15px;
}


nav ul li a.hover
nav ul li a.active{
    text-decoration: none;
    color: black;
    background: #fff;
}


h1{
    font-size: 35px;
    color: black;
}


/* the style for form heading */
h2{
    font-size: 35px;
}

/* the style for form */
.form{
    width: 700px;
    color: black;
    background-color: lightblue;
    border: 1px solid lightgray;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    display:block;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
}

.submit{
    display:block;
    margin-bottom:10px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: green;
}

textarea {
    display:block;
    margin-bottom: 10px;
    height: 70px;
    width: 350px;
}


input{
    padding: 7px;
}
label {
    display:block;
    margin-top: 21px;
    margin-bottom: 7px;
}

/* for mobile screen (contactme page) */
@media (max-width: 600px) {
    /* for the style of whole page of the website */
    .page{
        background: #192841;
        min-height: 130vh;
        width: 100%;
        color: white;
        position: relative;
    }
    /* the style for navigation bar of the page */
    nav{
        display: flex;
        align-items: center;
        padding: 10px 8%;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #4d88e2;
    }
    
    nav ul{
        flex: 1;
        text-align: right;
    }
    
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 0 20px;
        font-size: 15px;
    }
    
    nav ul li a.hover
    nav ul li a.active{
        text-decoration: none;
        color: black;
        background: #fff;
    }
    
    h1{
        font-size: 35px;
        color: black;
    }

    /* the style for form heading  */
    h2{
        font-size: 35px;
    }

    /* the style for the form */
    .form{
        width: 300px;
        color: black;
        background-color: lightblue;
        border: 1px solid lightgray;
        padding: 10px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="number"] {
        display:block;
        margin-bottom: 10px;
        height: 40px;
        width: 200px;
    }
    
    .submit{
        display:block;
        margin-bottom:10px;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        background-color: green;
    }
    
    textarea {
        display:block;
        margin-bottom: 10px;
        height: 70px;
        width: 250px;
    }
    
    
    input{
        padding: 7px;
    }
    label {
        display:block;
        margin-top: 21px;
        margin-bottom: 7px;
    }
}